<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control"  placeholder="Name"  ng-model="machine.name">
  </div>
  <div class="form-group">
    <label for="info">Info</label>
    <input type="text" class="form-control" placeholder="Info"  ng-model="machine.info">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" placeholder="Description"  ng-model="machine.description">
  </div>
  <div class="form-group">
    <label for="machineOwner">Machine Owner</label>
    <input type="text" class="form-control" placeholder="Machine Owner"  ng-model="machine.machineOwner">
  </div>
  <div class="form-group">
    <label for="machineNumber">Machine Number</label>
    <input type="text" class="form-control" placeholder="Machine Number"  ng-model="machine.machineNumber">
  </div>
  <div class="form-group">
    <label for="clientName">Client Name</label>
    <input type="text" class="form-control" placeholder="Machine Name"  ng-model="machine.clientName">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="machine.active"> Active
    </label>
  </div>
  <button type="submit" class="btn btn-default" ng-click="save()">Submit</button>
</form>
